* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*头部区域=========================*/
.box {
    position: absolute;
    width: 100%;
    height: 161px;
    z-index: 2;
    background: #fcfcfc;
}

/*顶部区域*/
.header {
    width: 1140px;
    height: 100px;
    background: white;
    margin: 0 auto;
}

.avatar_area {
    float: left;
}

/*头像*/
.avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    float: left;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

.name_signature {
    display: inline-block;
    width: 100px;
    height: 80px;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 5px;
}

#name {
    color: #333333;
}

#signature {
    color: #666666;
}

/*时间样式*/
.date {
    width: 300px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 14px;
    font-family: 黑体, serif;
    color: #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

.nav_bg {
    height: 60px;
    background: #FDFDFD;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

/*固定导航栏*/
.nav {
    width: 1140px;
    height: 60px;
    margin: 0 auto;
}

/*悬浮导航栏*/
.fix_nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #FDFDFD;
    /*background: white;*/
}

.nav ul,.fix_nav ul {
    float: left;
    width: 1140px;
    height: 60px;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.nav ul li,.fix_nav ul li {
    width: 70px;
    height: 60px;
    line-height: 60px;
    display: block;
    float: left;
}

.nav ul li.about,.fix_nav ul li.about {
    float: right;
    margin-right: 5px;
}

.nav ul li a,.fix_nav ul li a {
    display: block;
    width: 52px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    font-family: 微软雅黑, serif;
    text-decoration: none;
}

.nav ul li.home a,.fix_nav ul li.home a {
    padding-left: 18px;
}

.nav ul li.home a:hover,.fix_nav ul li.home a:hover {
    color: #000;
}

.nav ul li.life a,.fix_nav ul li.life a {
    padding-left: 18px;
    background: url("../images/love.png") left center no-repeat;
    background-size: 12px 12px;
}

.nav ul li.life a:hover,.fix_nav ul li.life a:hover {
    color: #000;
    background: url("../images/love_hover.png") left center no-repeat;
    background-size: 12px 12px;
 }

.nav ul li.skill a,.fix_nav ul li.skill a {
    padding-left: 18px;
    background: url("../images/skill.png") left center no-repeat;
    background-size: 16px 16px;
}

.nav ul li.skill a:hover,.fix_nav ul li.skill a:hover {
    color: #000;
    background: url("../images/skill_hover.png") left center no-repeat;
    background-size: 16px 16px;
}

.nav ul li.album a,.fix_nav ul li.album a {
    padding-left: 18px;
    background: url("../images/album.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.album a:hover,.fix_nav ul li.album a:hover {
    color: #000;
    background: url("../images/album_hover.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.video a,.fix_nav ul li.video a {
    padding-left: 18px;
    background: url("../images/video.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.video a:hover,.fix_nav ul li.video a:hover {
    color: #000;
    background: url("../images/video_hover.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.experience a,.fix_nav ul li.experience a {
    padding-left: 18px;
    background: url("../images/experience.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.experience a:hover,.fix_nav ul li.experience a:hover {
    color: #000;
    background: url("../images/experience_hover.png") left center no-repeat;
    background-size: 15px 15px;
}

.nav ul li.about a,.fix_nav ul li.about a {
    width: 70px;
}

.nav ul li.about a:hover,.fix_nav ul li.about a:hover {
    color: #000;
}

    /*内容区域=============================*/
.content {
    width: 1170px;
    background: #afd9ee;
    padding-top: 160px;
    margin: 0 auto;
}

/*左边内容*/
.content .left_area {
    float: left;
    width: 780px;
    /*height: 1760px;*/
    background: white;
}

/*右边菜单*/
.content .menu {
    float: right;
    width: 390px;
    /*height: 1760px;*/
    background: white;
}

.content .menu .search_box {
    width: 360px;
    height: 32px;
    margin: 15px;
    /*background: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #CCC;*/
}

form[name='search_form'] {
    height: 31px;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 6px;
    background: #F2F2F2;
}

.content .menu .search_box .search_title {
    width: 42px;
    height: 31px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.content .menu .search_box input.search_key {
    width: 258px;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-left: 1px solid #CCC;
}

.content .menu .search_box input.submit_search_key {
    display: inline;
    width: 42px;
    height: 30px;
    color: #5690D2;
    border: none;
    border-left: 1px solid #CCC;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background:#fff url("../images/search.png") center no-repeat;
    background-size: 16px 16px;
}

.content .menu .search_box input.submit_search_key:hover {
    background: #DFDFDF url("../images/search.png") center no-repeat;
    background-size: 16px 16px;
}

.menu_title {
    height: 36px;
    line-height: 36px;
    background: #DFF0D8;
    font-size: 14px;
    font-family: 微软雅黑, serif;
    padding-left: 20px;
}

.content .menu .announcement {
    width: 360px;
    height: 300px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.content .menu .announcement .menu_title {
    color: #3C763D;
}

.content .menu .announcement .announcement_box {
    width: 300px;
    height: 240px;
    line-height: 25px;
    margin: 20px;
    font-size: 13px;
    color: #A94465;
}

/*最新文章*/
.content .menu .newest {
    width: 360px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.content .menu .newest .menu_title {
    margin-bottom: 20px;
    background: #D9EDF7;
    color: #31708F;
}

.content .menu .newest .newest_item {
    width: 330px;
    margin: 0 auto;
}

.content .menu .newest .newest_item:hover {
    background: #F5F5F5;
}

.content .menu .newest .newest_item_divide_line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #CCC;
}

.content .menu .newest a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #5690D2;
}

.content .menu .newest a:hover {
    text-decoration-line: underline;
    color: #23527C;
}

/*浏览次数排行*/
.content .menu .scan_times_list {
    width: 360px;
    height: 400px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.content .menu .scan_times_list .menu_title {
    background: #F2DEDE;
    color: #A94442;
}

.content .menu .Jorelanbo {
    width: 360px;
    height: 260px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.content .menu .Jorelanbo .Jorelanbo_box {
    width: 260px;
    height: 160px;
    margin: 30px;
    background: #F5F5F5;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 微软雅黑, serif ;
}

.content .menu .Jorelanbo .Jorelanbo_box h2 {
    font-size: 28px;
    color: #31708F;
}

.links_box {
    clear: both;
    width: 1140px;
    height: 80px;
    padding-top: 45px;
    background: white;
    margin: 0 auto;
}

/*友情链接*/
.links {
    width: 1140px;
    height: 50px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

/*底部区域=============================*/
.footer {
    width: 1140px;
    height: 60px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.blank {
    height: 20px;
}

/*首页文章列表*/

/*首页文章列表 -- 文章条目*/
.main_article {
    width: 720px;
    /*height: 1760px;*/
    margin: 15px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.main_article .article_item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_article .article_item .article_item_title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}

.main_article .article_item .article_item_title a {
    font-size: 17px;
    color: #5690D2;
}

.main_article .article_item .article_item_title a:hover {
    text-decoration-line: underline;
    color: #23527C;
}

.main_article .article_item .article_item_info_list {
    padding-bottom: 10px;
    border-bottom: 1px dashed #c2c2c2;
}

.main_article .article_item .article_item_info_list .article_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.main_article .article_item .article_item_info_list .article_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.main_article .article_item .article_item_info_list .keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.main_article .article_item .article_item_info_list .view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.main_article .article_item .article_item_introduction {
    margin: 20px 0;
    font-size: 14px;
}

.main_article .article_item .article_item_divide_line {
    height: 0;
    margin-top: 20px;
    border-bottom: 1px solid #c2c2c2;
}

/*首页文章列表 -- 分页栏*/
.main_article .page_number_list {
    width:auto;
    display:inline-block !important;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.main_article .page_number_list a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #CCC;
    border-left: none;
    color: #5690D2;
}

.main_article .page_number_list a.page_current_number {
    background: #EEEEEE;
    color: #23527C;
}

.main_article .page_number_list a.page_number_1 {
    border-left: 1px solid #CCC;
    border-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

.main_article .page_number_list a.pre_page {
    width: 50px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main_article .page_number_list a.next_page {
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main_article .page_number_list a.start_page {
    border-left: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

.main_article .page_number_list a.end_page {
    border-right: 1px solid #CCC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

/*文章详情页面*/
.main_article .article_detail .article_detail_title {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #222;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Consolas, 微软雅黑, serif;
}

.main_article .article_detail .article_detail_info_list {
    margin-top: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 5px;
    font-size: 14px;
}

.article_detail_info_list .article_detail_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_detail_info_list .article_detail_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_detail_info_list .article_detail_keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_detail_info_list .article_detail_view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.main_article .article_detail .article_detail_content {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    overflow: hidden;
}