/*后台*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

img#back {
    width: 20px;
    height: 20px;
    border: 1px solid #c2c2c2;
}

img#back:hover {
    background: #DDDDDD;
}

/*登录页面*/
.login_body {
    background: url("../images/big_bg2.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.login_box {
    width: 100%;
    height: 300px;
    margin-top: 200px;
}

.login_content {
    width: 300px;
    height: 240px;
    margin: 0 auto;
    background: #5690D2;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.login_content h3 {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 微软雅黑, serif;
    color: #003366;
}

.login_content form {
    margin-top: 15px;
    margin-left: 40px;
    background: #5690D2;
}

.login_content form label {
    color: #222222;
    height: 30px;
    line-height: 30px;
}

.login_content form input {
    width: 180px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

.login_content form input#submit {
    width: 120px;
    background: #ccE871;
    font-size: 16px;
    color: dodgerblue;
}

.login_content form a {
    margin-left: 20px;
    color: firebrick;
    font-size: 14px;
}

/*注册页面*/
.reg_body {
    background: url("../images/big_bg1.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.reg_box {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.reg_content {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #5690D2;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.reg_content h3 {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 微软雅黑, serif;
    color: #003366;
}

.reg_content form {
    margin-top: 15px;
    margin-left: 40px;
    background: #5690D2;
}

.reg_content form label {
    color: #222222;
    height: 30px;
    line-height: 30px;
}

.reg_content form input {
    width: 180px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

.reg_content form input#ctime {
    width: 50px;
}

.reg_content form input#submit {
    width: 120px;
    background: #ccE871;
    font-size: 16px;
    color: dodgerblue;
}

.reg_content form a {
    margin-left: 20px;
    color: firebrick;
    font-size: 14px;
}

/*后台首页*/

/*顶端*/
.admin_title {
    width: 100%;
    height: 50px;
    background: #3C8DBC;
    border-bottom: 1px solid #d2d2d2;
}

.admin_title .icon {
    float: left;
    width: 120px;
    padding-top: 15px;
    text-align: center;
}

.admin_title .icon a {
    font-size: 18px;
    font-family: "Times New Roman", serif;
    color: white;
}

.admin_title .user_box {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 50px;
}

.admin_title .user_box:hover {
    background: #003366;
}

.admin_title .user_box a.user {
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: url("../images/down_triangle.png") no-repeat 70px center;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: white;
}

.admin_title .user_box a.user span {
    display: block;
    width: 100px;
    height: 50px;
    background: url("../images/man.png") no-repeat 10px center;
    text-align: center;
}

.admin_title .user_box ul {
    display: none;
    width: 150px;
    margin-left: -50px;
    border: 1px solid #e2e2e2;
}

.admin_title .user_box ul li {
    display: block;
    text-align: center;
    width: 150px;
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
}

.admin_title .user_box ul li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #333333;
    cursor: pointer;
}

.home_body {

}

/*菜单列表*/
.admin_menu {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 14%;
    border-right: 1px solid #d2d2d2;
    /*background: #3C8DBC;*/
    background: #1870a9;
}

.admin_menu .upper {
    width: 100%;
}

.admin_menu .upper li {
    display: block;
    border-bottom: 1px solid #d2d2d2;
}

.admin_menu .upper li a {
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    border-bottom: 1px solid #c2c2c2;
    font-family: "微软雅黑", serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.admin_menu .upper li a.menu_article_button {
    background: #23527C url("../images/article.png") no-repeat 15px center;
    background-size: 14px 14px;
}

.admin_menu .upper li a.menu_album_button {
    background: #23527C url("../images/album.png") no-repeat 15px center;
    background-size: 14px 14px;
}

.admin_menu .upper li a.menu_video_button {
    background: #23527C url("../images/video.png") no-repeat 15px center;
    background-size: 14px 14px;
}

.admin_menu .upper li a.menu_experience_button {
    background: #23527C url("../images/experience.png") no-repeat 15px center;
    background-size: 14px 14px;
}

.admin_menu .upper li a.menu_setting_button {
    background: #23527C url("../images/setting.png") no-repeat 15px center;
    background-size: 14px 14px;
}

.admin_menu .upper li .sub {
    display: none;
}

.admin_menu .upper li .sub li {
    height: 50px;
    border: none;
}

.admin_menu .upper li .sub li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    background: #31708F url("../images/right_triangle.png") no-repeat 8px center;
    background-size: 12px 12px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    border: none;
}

.admin_menu .upper li .sub li a:hover {
    background: #1E282C url("../images/right_triangle_hover.png") no-repeat 8px center;
    background-size: 12px 12px;
    color: white;
}

.admin_menu .upper li .sub li a:active {
    background: #1E282C url("../images/right_triangle_hover.png") no-repeat 8px center;
    background-size: 12px 12px;
}

    /*内容*/
.admin_content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 14%;
    width: 86%;
    border: none;
    overflow: hidden;
}

.admin_content iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}

/*写文章页面*/
.writeArticle_body {
    overflow: auto;
    height: 900px;
    background: url("../images/big_bg3.jpg") no-repeat fixed;
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-family: 华文细黑, serif;
}

.writeArticle_body input.article_item {
    width: 450px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 2px;
}

#submit {
    width: 120px;
    height: 30px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

#reset {
    width: 120px;
    height: 30px;
    background: gray;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

a#reset {
    display: inline-block;
    line-height: 30px;
}

.writeArticle_body select {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 2px;
    color: #1870a9;
}

.writeArticle_body select option {
    height: 30px;
}

/*文章内容页面*/
.article_body {
    background: url("../images/big_bg4.jpg") no-repeat fixed;
    background-size: 100% 100%;
    overflow: auto;
}

.article_box {
    background: white;
    margin: 45px 60px;
    padding: 45px;
    border: 1px solid white;
    border-radius: 20px;
}

.article_title {
    text-align: center;
    color: #555;
    font-family: 微软雅黑, serif;
}

.article_info_list {
    margin-top: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 5px;
    font-size: 14px;
}

.article_info_list .article_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .article_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_box .article_content {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow: auto;
}

.rewrite {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    background: url("../images/rewrite.png") no-repeat center;
    background-size: 16px 16px;
    cursor: pointer;
}

.remove {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    background: url("../images/remove.png") no-repeat center;
    background-size: 16px 16px;
    cursor: pointer;
}

/*文章重写界面（其余样式与写文章相同）*/
input#quit {
    width: 120px;
    height: 30px;
    background: #6FA;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/*文章列表界面*/
.article_list_body {
    background: url("../images/big_bg5.jpg") no-repeat fixed;
    background-size: 100% 100%;
    overflow: auto;
}

.article_list_body .article_list_box {
    margin: 45px 60px;
    margin-top: 80px;
    padding: 45px;
    /*height: 1200px;*/
    border-radius: 10px;
    background: white;
}

/*文章列表界面--搜索框*/
/*.article_list_body .article_list_search {
    position: absolute;
    right: 60px;
    top: 36px;
    !*width: 200px;*!
    width: auto;
    height: 25px;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
}*/

form[name='search_form'] {
    position: absolute;
    right: 60px;
    top: 36px;
    height: 25px;
    margin: 0;
    border: 1px solid #5690D2;
    border-radius: 6px;
}

.article_list_body .article_list_search input.search_key {
    width: 150px;
    height: 25px;
    padding-left: 10px;
    border: none;
    border-right: 1px solid #5690D2;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.article_list_body .article_list_search input.submit_search_key {
    display: inline;
    width: 50px;
    height: 25px;
    background: white;
    color: #5690D2;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.article_list_body .article_list_search input.submit_search_key:hover {
    background: #5690D2;
    color: white;
}

/*文章列表界面--分页栏*/
.article_list_box .page_number_list {
    width:auto;
    display:inline-block !important;
    height: 30px;
    margin-top: 30px;
}

.article_list_box .page_number_list a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #CCC;
    border-left: none;
    color: #5690D2;
}

.article_list_box .page_number_list a.page_current_number {
    background: #EEEEEE;
    color: #23527C;
}

.article_list_box .page_number_list a.page_number_1 {
    border-left: 1px solid #CCC;
    border-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

.article_list_box .page_number_list a.pre_page {
    width: 50px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article_list_box .page_number_list a.next_page {
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.article_list_box .page_number_list a.start_page {
    border-left: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

.article_list_box .page_number_list a.end_page {
    border-right: 1px solid #CCC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EEEEEE;
    color: #23527C;
}

    /*文章列表界面--文章条目*/
.article_list_box .article_item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_list_box .article_item .article_item_title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article_list_box .article_item .article_item_title a {
    font-size: 17px;
    color: #5690D2;
}

.article_list_box .article_item .article_item_title a:hover {
    text-decoration-line: underline;
    color: #23527C;
}

.article_list_box .article_item .article_item_info_list {
    padding-bottom: 10px;
    border-bottom: 1px dashed #c2c2c2;
}

.article_list_box .article_item .article_item_info_list .article_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .article_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_introduction {
    margin: 20px 0;
    font-size: 14px;
}

.article_list_box .article_item .article_item_divide_line {
    height: 0;
    margin-top: 20px;
    border-bottom: 1px solid #c2c2c2;
}

/*设置*/

/*设置--站长信息页*/
.master_body {
    margin: 60px 45px;
    background: #F4F4F4;
}

.master_form_box {
    width: 600px;
    height: 360px;
    padding-left: 60px;
    padding-top:15px;
    background: darkseagreen;
    border-radius: 5px;
}

.master_form_box .avatar_box {
    width: 80px;
    height: 100px;
    margin: 20px;
}

.master_form_box img {
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.master_form_box a {
    width: 80px;
    height: 20px;
    display: block;
    text-align: center;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}

.master_form_box a:hover {
    color: #DDDDDD;
}

.master_form_box label {
    color: white;
    font-size: 16px;
    font-family: 宋体, serif;
}

.master_form_box input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
    color: #888;
}

/*上传头像页面*/
.avatar_form_box {
    width: 300px;
    height: 200px;
    padding-top: 60px;
    padding-left: 30px;
    margin-left: 60px;
    margin-top: 60px;
    background: darkseagreen;
    border-radius: 5px;
}

#avatar_file {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
}

/*友情链接页面*/
.links_body {
    overflow: auto;
    background: #DDDDDD;
}

.links_body .links_body_blank {
    height: 45px;
}

.links_body .add_link {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background: url("../images/add.png") no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}

.links_list {
    width: 1000px;
    margin: 0 auto;
    background: wheat;
    border: 1px solid white;
    border-radius: 10px;
}

.links_list #add_link_box {
    display: none;
    width: 800px;
    height: 30px;
    margin: 0 auto;
}

#add_link_box label {
    color: white;
    font-family: 微软雅黑, serif;
}

#add_link_box .add_link_input {
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
}

#add_link_submit {
    width: 50px;
    height: 25px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.links_list .link_item {
    width: 800px;
    height: 80px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background: powderblue;
}

.links_list .link_item .link_name {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}

.links_list .link_item a.link_url {
    display: block;
    margin-left: 10px;
    color: #cd0a0a;
}

.links_list .link_rewrite_item {
    display: none;
    width: 800px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background: lightseagreen;
}

.links_list .link_rewrite_item label {
    color: white;
    font-family: 微软雅黑, serif;
}

.links_list .link_rewrite_item .rewrite_link_input {
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
}

#rewrite_link_submit {
    width: 50px;
    height: 25px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.links_list .link_rewrite_item span {
    display: inline-block;
    width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: #6FA;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/*相册列表页面*/
.albums_body {
    overflow: auto;
    background: #EFEEE4;
}

.albums_body .albums_body_blank {
    height: 45px;
}

.albums_body .albums_body_blank_large {
    height: 80px;
}

.albums_body .add_album {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background: url("../images/add.png") no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}

.albums_list {
    width: 1000px;
    margin: 0 auto;
    background: wheat;
    border: 1px solid white;
    border-radius: 10px;
}

.albums_list #add_album_box {
    display: none;
    width: 800px;
    height: 120px;
    margin: 0 auto;
}

#add_album_box label {
    color: white;
    font-family: 微软雅黑, serif;
}

#add_album_box .add_album_input {
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
}

#add_album_box .add_album_area {
    width: 180px;
    height: 100px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
}

#add_album_submit {
    width: 50px;
    height: 25px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.albums_list .album_item {
    width: 800px;
    height: 160px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background: powderblue;
}


.albums_list .album_item img {
    display: block;
    float: left;
    width: 180px;
    height: 140px;
}

.albums_list .album_item .album_content {
    display: block;
    float: left;
    width: 300px;
    height: 140px;
}

.albums_list .album_item .album_name {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}

.albums_list .album_item .album_introduction {
    display: block;
    margin-left: 10px;
    color: #cd0a0a;
}

.albums_list .album_rewrite_item {
    display: none;
    width: 800px;
    height: 250px;
    line-height: 80px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background: lightseagreen;
}

.albums_list .album_rewrite_item form {
    line-height: 50px;
    height: 250px;
    padding-top: 0;
}

.albums_list .album_rewrite_item label {
    color: white;
    font-family: 微软雅黑, serif;
}

.albums_list .album_rewrite_item .rewrite_album_input {
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
}

.albums_list .album_rewrite_item .rewrite_album_textarea {
    width: 300px;
    height: 100px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
}

#rewrite_album_submit {
    width: 50px;
    height: 25px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.albums_list .album_rewrite_item span {
    display: inline-block;
    width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: #6FA;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/*相片页面*/

.photos_body {
    overflow: auto;
    padding: 30px;
    background: #EFEEE4;
}

.photos_body .photos_list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 900px;
    background: #DDDDDD;
}

.photos_body .photos_list .show_upload_box {
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 10%;
    background: #2D93CA;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.photos_body .photos_list .show_upload_box_line {
    width: 90%;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    background: #CCCCCC;
}

.photos_body #uploader-box {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
}

.add_photo {
    display: block;
}

#fileList .file-item {
    display: block;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

#filePicker {
    clear: both;
    width: 100px;
    margin-top: 20px;
}

#upload {
    display: inline-block;
    width: 92px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    margin-top: 15px;
    background: lightseagreen;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#upload:hover {
    background: cadetblue;
}

#quit {
    display: inline-block;
    width: 92px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    background: #F0AD4E;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#quit:hover {
    background: #EC971F;
}

/*视频列表页面*/
.videos_body {
    overflow: auto;
    background: #EFEEE4;
}

.videos_body .videos_body_blank {
    height: 45px;
}

.videos_body .videos_body_blank_large {
    height: 60px;
}

.videos_body .add_video {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background: url("../images/add.png") no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}

.videos_list {
    width: 1000px;
    margin: 0 auto;
    background: wheat;
    border: 1px solid white;
    border-radius: 10px;
}

.videos_list #add_video_box {
    display: none;
    width: 800px;
    height: 200px;
    margin: 0 auto;
}

#add_video_box label {
    color: white;
    font-family: 微软雅黑, serif;
}

#add_video_box .add_video_input {
    width: 270px;
    height: 25px;
    padding-left: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
}

#add_video_box .add_video_textarea {
    width: 360px;
    height: 80px;
    resize: none;
    padding: 10px;
    background: #D9EDF7;
    border: 1px solid white;
    border-radius: 5px;
}

#add_video_submit {
    width: 50px;
    height: 25px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.videos_list .video_item {
    width: 800px;
    height: 60px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 5px solid white;
    border-radius: 5px;
    background: #c2c2c2;
}

.videos_list .video_item .video_content {
    float: left;
}

.videos_list .video_item a.video_name {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #2fa0ec;
}

.videos_list .video_item a.video_name:hover {
    text-decoration-line: underline;
    color: #F98175;
}

.videos_list .video_item .video_introduction {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    color: gray;
}

.videos_list .video_item .remove {
    float: right;
}

/*视频详情*/
.video_body {
    overflow: auto;
    background: #EFEEE4;
}

.video_body .video_body_blank {
    width: 100%;
    height: 60px;

}

.video_body .back {
    margin: 30px;
}

.video_body .show_box {
    width: 60%;
    min-width: 720px;
    margin: 0 auto;
    padding: 30px;
    background: white;
}

.video_body .show_box .title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    color: #2fa0ec;
}

.video_body .show_box embed {
    display: block;
    width: 80%;
    min-width: 600px;
    height: 480px;
    min-height: 480px;
    margin: 0 auto;
}

.video_body .show_box p {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}