/*后台*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

img#back {
    width: 20px;
    height: 20px;
    border: 1px solid #c2c2c2;
}

img#back:hover {
    background: #DDDDDD;
}

/*登录页面*/
.login_body {
    background: url("../images/big_bg2.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.login_box {
    width: 100%;
    height: 300px;
    margin-top: 200px;
}

.login_content {
    width: 300px;
    height: 240px;
    margin: 0 auto;
    background: #5690D2;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.login_content h3 {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 微软雅黑, serif;
    color: #003366;
}

.login_content form {
    margin-top: 15px;
    margin-left: 40px;
    background: #5690D2;
}

.login_content form label {
    color: #222222;
    height: 30px;
    line-height: 30px;
}

.login_content form input {
    width: 180px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

.login_content form input#submit {
    width: 120px;
    background: #ccE871;
    font-size: 16px;
    color: dodgerblue;
}

.login_content form a {
    margin-left: 20px;
    color: firebrick;
    font-size: 14px;
}

/*注册页面*/
.reg_body {
    background: url("../images/big_bg1.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.reg_box {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.reg_content {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #5690D2;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.reg_content h3 {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 微软雅黑, serif;
    color: #003366;
}

.reg_content form {
    margin-top: 15px;
    margin-left: 40px;
    background: #5690D2;
}

.reg_content form label {
    color: #222222;
    height: 30px;
    line-height: 30px;
}

.reg_content form input {
    width: 180px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

.reg_content form input#ctime {
    width: 50px;
}

.reg_content form input#submit {
    width: 120px;
    background: #ccE871;
    font-size: 16px;
    color: dodgerblue;
}

.reg_content form a {
    margin-left: 20px;
    color: firebrick;
    font-size: 14px;
}

/*后台首页*/

/*顶端*/
.admin_title {
    width: 100%;
    height: 50px;
    background: #5690D2;
    border-bottom: 1px solid #d2d2d2;
}

.admin_title .icon {
    float: left;
    width: 120px;
    padding-top: 15px;
    text-align: center;
}

.admin_title .icon a {
    font-size: 18px;
    font-family: "Times New Roman", serif;
    color: white;
}

.admin_title .user_box {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 50px;
}

.admin_title .user_box:hover {
    background: #003366;
}

.admin_title .user_box a.user {
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: url("../images/down_triangle.png") no-repeat 70px center;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: white;
}

.admin_title .user_box a.user span {
    display: block;
    width: 100px;
    height: 50px;
    background: url("../images/man.png") no-repeat 10px center;
    text-align: center;
}

.admin_title .user_box ul {
    display: none;
    width: 150px;
    margin-left: -50px;
    border: 1px solid #e2e2e2;
}

.admin_title .user_box ul li {
    display: block;
    text-align: center;
    width: 150px;
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
}

.admin_title .user_box ul li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #333333;
    cursor: pointer;
}

.home_body {

}

/*菜单列表*/
.admin_menu {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 14%;
    border-right: 1px solid #d2d2d2;
}

.admin_menu .upper {
    width: 100%;
}

.admin_menu .upper li {
    display: block;
    border-bottom: 1px solid #d2d2d2;
}

.admin_menu .upper li a {
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    border-bottom: 1px solid #c2c2c2;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
}

.admin_menu .upper li a.menu_article_button {
    background: #F8F8F8 url("../images/article.png") no-repeat 15px center;
}

.admin_menu .upper li a.menu_album_button {
    background: #F8F8F8 url("../images/album.png") no-repeat 15px center;
}

.admin_menu .upper li a.menu_video_button {
    background: #F8F8F8 url("../images/video.png") no-repeat 15px center;
}

.admin_menu .upper li a.menu_experience_button {
    background: #F8F8F8 url("../images/experience.png") no-repeat 15px center;
}

.admin_menu .upper li .sub {
    display: none;
}

.admin_menu .upper li .sub li {
    height: 50px;
    border: none;
}

.admin_menu .upper li .sub li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    background: #FAFAFA url("../images/right_triangle.png") no-repeat 8px center;
    font-size: 14px;
    font-weight: 100;
    border: none;
}

.admin_menu .upper li .sub li a:hover {
    background: #1870a9 url("../images/right_triangle.png") no-repeat 8px center;
}

.admin_menu .upper li .sub li a:active {
    background: #1870a9 url("../images/right_triangle.png") no-repeat 8px center;
}

    /*内容*/
.admin_content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 14%;
    width: 86%;
    border: none;
    overflow: hidden;
}

.admin_content iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}

/*写文章页面*/
.writeArticle_body {
    overflow: auto;
    height: 900px;
    background: url("../images/big_bg3.jpg") no-repeat fixed;
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-family: 华文细黑, serif;
}

.writeArticle_body input.article_item {
    width: 450px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 2px;
}

input#submit {
    width: 120px;
    height: 30px;
    background: #6FA5DB;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

input#reset {
    width: 120px;
    height: 30px;
    background: gray;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.writeArticle_body select {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 2px;
    color: #1870a9;
}

.writeArticle_body select option {
    height: 30px;
}

/*文章内容页面*/
.article_body {
    background: url("../images/big_bg4.jpg") no-repeat fixed;
    background-size: 100% 100%;
    overflow: auto;
}

.article_box {
    background: white;
    margin: 45px 60px;
    padding: 45px;
    border: 1px solid white;
    border-radius: 20px;
}

.article_title {
    text-align: center;
    color: #555;
    font-family: 微软雅黑, serif;
}

.article_info_list {
    margin-top: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 5px;
    font-size: 14px;
}

.article_info_list .article_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .article_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_info_list .view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_box .article_content {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow: auto;
}

.rewrite {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    background: url("../images/rewrite.png") no-repeat center;
}

/*文章重写界面（其余样式与写文章相同）*/
input#quit {
    width: 120px;
    height: 30px;
    background: #6FA;
    color: white;
    padding-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/*文章列表界面*/
.article_list_body {
    background: url("../images/big_bg5.jpg") no-repeat fixed;
    background-size: 100% 100%;
    overflow: auto;
}

.article_list_body .article_list_box {
    margin: 45px 60px;
    margin-top: 80px;
    padding: 45px;
    /*height: 1200px;*/
    border-radius: 10px;
    background: white;
}

/*文章列表界面--搜索框*/
.article_list_body .article_list_search {
    position: absolute;
    right: 60px;
    top: 36px;
    width: 200px;
    height: 25px;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.article_list_body .article_list_search input.search_key {
    width: 150px;
    height: 25px;
}

.article_list_body .article_list_search input.submit_search_key {
    width: 48px;
    height: 25px;
}

/*文章列表界面--分页栏*/
.article_list_box .page_number_list {
    width:auto;
    display:inline-block !important;
    height: 30px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.article_list_box .page_number_list a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #CCC;
    color: #5690D2;
}

.article_list_box .page_number_list a.page_current_number {
    background: #EEEEEE;
    color: #23527C;
}

.article_list_box .page_number_list a.pre_page {
    width: 50px;
    border-left: none;
    border-right: 1px solid #CCC;
}

.article_list_box .page_number_list a.next_page {
    width: 50px;
    border-right: none;
}

/*文章列表界面--文章条目*/
.article_list_box .article_item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_list_box .article_item .article_item_title {
    height: 60px;
    line-height: 60px;
}

.article_list_box .article_item .article_item_title a {
    font-size: 18px;
    color: #5690D2;
}

.article_list_box .article_item .article_item_title a:hover {
    text-decoration-line: underline;
    color: #23527C;
}

.article_list_box .article_item .article_item_info_list {
    padding-bottom: 10px;
    border-bottom: 1px dashed #c2c2c2;
}

.article_list_box .article_item .article_item_info_list .article_writer {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    background: url("../images/writer.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .article_create_time {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/calendar.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .keywords {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/keywords.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_info_list .view_times {
    display: inline-block;
    height: 20px;
    padding-left: 18px;
    margin-left: 15px;
    background: url("../images/view_times.png") no-repeat left center;
    background-size: 14px 14px;
    color: #8f8f8f;
}

.article_list_box .article_item .article_item_introduction {
    margin: 20px 0;
    font-size: 14px;
}

.article_list_box .article_item .article_item_divide_line {
    height: 0;
    margin-top: 20px;
    border-bottom: 1px solid #c2c2c2;
}